* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	}

body {
	font-family: 'century gothic', sans-serif;
	font-size:16px;
	color: #555;
}

ul{
	list-style-type: none;
	width: 90%;
	max-width:1200px;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	}

li{
	flex-basis: 30%;
	text-align:left;
	margin:7px;
	cursor:pointer;
	border: 1px solid #999;
	padding: 5px;
	border-radius:5px;
	overflow:hidden;
	line-height: 80px;
	font-weight: bold;
	}

li:hover{ background-color: #fdf6dd;}

li img {
	width:80px;
	float:left;
}

/*Модальное окно*/

.overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content:center;
    align-items:center;
}

.modalwindow {
    background-color: #fff;
    width: 500px;
    padding:15px;
    box-shadow: 0 0 15px #000;
    text-align:center;
    position:relative;
}

.close {
    font-size: 2em;
    position:absolute;
    top: 10px;
    right:15px;
    transform:rotate(45deg);
    cursor:pointer;
}

.price {
    width: 80px;
    height:80px;
    border-radius:100%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #c70000;
    line-height:80px;
    color: #ffffff;
    position:absolute;
    left: 65px;
    transform:rotate(-15deg);
    box-shadow: 0 0  15px #000;
}

.price::after, .rez::after {
    content: " грн";
    
}
span {
    border: 1px solid #555;
    display:inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
}

.minus, .plus {
    cursor:pointer;
}
.minus:hover, .plus:hover {
    background-color: #999;
}

.rez {
    font-size: 2em;
    font-weight:bold;
    color: #c70000;
    margin: 15px;
}

